<h3 style="font-family:'Times New Roman';color:seagreen">Art has always been my stress buster</h3>
<br />
<div class="row">
  <div class="card-deck">
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art4.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">KA</h5><h6><strong>Dimensions : 14 x 18 inches</strong></h6>
        <p class="card-text">A vibrant and colorful presentation of a performance group KA from Las Vegas. Depicting life and energy through wonderful colors</p>
      </div>
    </div>
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art5.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">Durga in peace</h5><h6><strong>Dimensions : 14 x 18 inches</strong></h6>
        <p class="card-text"> The Hindu Goddess Durga is a symbol of power and strength who is the root cause of creation, preservation and annihilation. She puts an end to the vicious demon mahisasura (in the form of a buffalo) and regains harmony in all the worlds. This painting portrays her state of peace after victory</p>
      </div>
    </div>
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art6.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">Bless The Body And Soul</h5><h6><strong>Dimensions : 16 x 20 inches</strong></h6>
        <p class="card-text"> This work is inspired from patua art which dates back centuries. It is a form of art from West Bengal, India and it usually narrates a story from art scripts. My work brings in the thought where a young lady still in her dreams bless her little one who is yet to see light ... come to this world and bind its self body and soul together</p>
      </div>
    </div>

  </div>
</div>
<br />
<div class="row">
  <div class="card-deck">
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art1.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">The four absolutes</h5><h6><strong>Dimensions : 8 x 10 inches</strong></h6>
        <p class="card-text">The four moral standards of absolute honesty, purity, unselfishness and love though recognized as impossible to attain, were guidelines to help determine whether a course of action was directed by God. This is an angel from the first dream whose features portray the four absolutes</p>
      </div>
    </div>
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art3.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">The Perturbed Mind</h5><h6><strong>Dimensions : 36 x 24 inches</strong></h6>
        <p class="card-text">This painting is done in oil portraying the facial expression of a perturbed mind brought up in the form of colors and patterns. Whenever I was overwhelmed by an emotion I sat down to paint. So each section of the painting brings up a different feeling and mood</p>
      </div>
    </div>
    <div class="card border-secondary mb3">
      <img class="card-img-top  " src="assets/images/art2.png" alt="Card image cap">
      <div class="card-body text-secondary">
        <h5 class="card-title">Delicious Fried Fish On A Pan Of Sizzling Curry Garnished With Lemon Slices</h5>
        <p class="card-text">My father loves to eat fish. This oil painting on canvas was my gift to baba on his 50th birthday</p>
      </div>
    </div>

  </div>
</div>
<br />
<div>
  <strong><a href="https://fineartamerica.com/profiles/joyeeta-mukherjee.html?tab=artworkgalleries" target="_blank">Browse and shop</a> for art collections created by Joyeeta</strong>
</div>

