<nav class="navbar nav-tabs navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd;">
  <a [routerLink]="['']"><span class="navbar-brand">
    <img src="assets/images/logo.png" height="50" style="padding-right:5px" />
  </span>
  </a>

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['portfolio']" (click)="isNavbarCollapsed = true">PORTFOLIO</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['resume']" (click)="isNavbarCollapsed = true">RESUME</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['art']" (click)="isNavbarCollapsed = true">ART</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['contact']" (click)="isNavbarCollapsed = true">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
