<h3 style="font-family:'Times New Roman';color:seagreen">Here are my projects at a glance</h3>
<br />
<ul class="list-unstyled">
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail rounded mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/multihopper-skin.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Automating Manufacturing</h5>
      <p style="text-align:justify">Designed and developed Multihopper testing app and successfully delivered it to the manufacturing floor contributing to the company’s (Entrust Datacard) net profit. Received individual company wide recognition and trophy for the same.</p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/estore.png" alt="Generic placeholder image">
    <div class="media-body">
      <a href="https://estore.entrustdatacard.com/default/" target="_blank"><h5 class="mt-0 mb-1">Estore</h5></a>
      <p style="text-align:justify">Developed estore with my team at Entrust Datacard for automating manual company sales efforts. Extraordinary contribution and recognition for the same.</p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/nasajpl.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <a href="https://digitalcommons.unl.edu/computerscidiss/42/" target="_blank"><h5 class="mt-0 mb-1">Interplanetary Internet</h5></a>
      <p style="text-align:justify">Worked in collaboration with NASA, JPL to design the IPN for testing on terrestrial testbed. Master’s thesis work &ldquo;Routing over the IPN&ldquo;, on the same and recognized by NASA for successful project completion</p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/Pyramid-UI.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Pyramid</h5>
      <p style="text-align:justify">Worked together with my team at Entrust Datacard for development of an in house data analysis application, tailored to meet company wide data analysis and visualization needs. </p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/unl.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">TafloNet</h5>
      <p style="text-align:justify">Designed and implemented Wireless Sensor Network that checks the temperature and rate of water flowing through cooling pipes and sending it over to a sink for analysis. Taflonet was done as a 6 month project at UNL</p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/personal-website.png" alt="Generic placeholder image">
    <div class="media-body">
      <a href="https://mukherj.github.io/website/home" target="_blank"><h5 class="mt-0 mb-1">Tripto Alley</h5></a>
      <p style="text-align:justify">Get to know about me by visiting my personal website, infested with Angular5 that donned Bootstrap4. Its still in the construction alley</p>
    </div>
  </li>
  <li class="media" style="margin-bottom:15px;">
    <img class="img-thumbnail rounded mr-3 anim-zoomin" style="width:40%;height:auto" src="assets/images/robofriends.png" alt="robofriends">
    <div class="media-body">
      <a href="https://mukherj.github.io/Robofriends/" target="_blank"><h5 class="mt-0 mb-1">RoboFriends</h5></a>
      <p style="text-align:justify">Developed Robofriends App powered by React that searches for Robots, their data being collected from an API.</p>
    </div>
  </li>
</ul>
