<p><strong><span style="font-size: 20.0pt; font-family: 'Calibri','sans-serif';">Joyeeta Mukherjee</span></strong></p>
<p>
  <span style="font-size: 12.0pt; font-family: 'Calibri','sans-serif';">
    (510) 309-6249<br />
    tsrumia@gmail.com <br />
    San Jose CA, 95123
  </span>
</p>
<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 12.0pt;">SOFTWARE DEVELOPER  <img src="assets/images/dev.ico" height="25" width="25" style="padding-right:5px" /></span></strong></p>
<p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
<table style="width: 96.04%;" width="96%">
  <tbody>
    <tr style="height: 1.0pt;">
      <td style="width: 99.34%; padding: .75pt .75pt .75pt .75pt; height: 1.0pt;" width="99%">
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Four years experience in successful design, development and support of user applications</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Language proficiencies in C#, Java, SQL, C++, JavaScript, HTML, CSS</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Developed projects in Angular and Magento</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Sound understanding of software engineering concepts and OOP principles</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Experienced with Agile Software Development Methodologies</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Used GIT, SVN, TFS for tracking project updates</span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Able to meet deadlines, attaining perfection in all work </span></p>
        <p style="margin-bottom: 5pt; margin-left: 30.0pt; text-indent: -.25in; line-height: normal; tab-stops: list .5in;"><span style="font-size: 10.0pt; font-family: Symbol;">&middot;<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt;">Quick learner, team player with great communication and presentation skills </span></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="line-height: normal;"><strong><span style="font-size: 12.0pt;">PUBLICATIONS</span></strong></p>
<ol>
  <li><span style="font-size: 12.0pt;"> Mukherjee and B. Ramamurthy, &ldquo;<a href="https://ieeexplore.ieee.org/document/6248649?tp=&arnumber=6248649&url=http:%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6248649" style="text-decoration:underline" target="_blank">Communication Technologies and Architectures for Space Network and Interplanetary Internet</a>&rdquo;, </span><span style="font-size: 12.0pt; color: windowtext; text-decoration: none">IEEE 15&nbsp;Communications Surveys &amp; Tutorials, no. 2 (2013): 881-897</span><span style="font-size: 12.0pt;"></span> <span style="font-size: 12.0pt;">(Impact factor-6.311)</span></li>
  <li><span style="font-size: 12.0pt;"> Mukherjee and B. Ramamurthy, &ldquo;<a href="https://www.sciencedirect.com/science/article/abs/pii/S1570870515000025" style="text-decoration:underline" target="_blank">The Interplanetary Internet Implemented on a Terrestrial testbed</a>&rdquo;, Ad Hoc Networks (2015), Elsevier. An earlier version was presented at the Communications (ICC), 2013 IEEE International Conference on. IEEE, 2013.</span></li>
</ol>
<p style="line-height: normal; margin: .25in 0in .25in 0in;"><strong><span style="font-size: 12.0pt;">VOLUNTEER</span></strong></p>
<p style="line-height: normal; margin: .25in 0in .25in 0in;"><span style="font-size: 12.0pt;">Web enhancement of an online Library system using PHP, SQL and HTML</span></p>
<p id="certifications" style="line-height: normal; margin: .25in 0in .25in 0in;"><strong><span style="font-size: 12.0pt;">CERTIFICATIONS</span></strong></p>
<p style="line-height: normal; margin: .25in 0in .25in 0in;">
  <span id="certifications" style="font-size: 12.0pt; display:flex;">
    <span style="margin:5px" [innerHtml]="html"></span>
    <span style="margin:5px" [innerHtml]="html1"></span>
  </span>
</p>

<strong><a href="assets/documents/Resume.pdf" download="Resume">Click here</a> to download pdf version of resume</strong>
