<div class="card bg-dark text-white">
  <picture>
    <source media="(max-width: 768px)" srcset="assets/images/me1.png" type="image/svg+xml">
    <source media="(min-width: 769px)" srcset="assets/images/me.png" type="image/svg+xml">
    <img  class="card-img img-fluid" src="assets/images/me.png">
  </picture>
  

  <div class="card-img-overlay">
    <h3 class="card-title" style="font-weight:600;font-family:'Times New Roman'">JOYEETA MUKHERJEE</h3>
    <p class="card-text summary">Wakes up happy every morning looking forward to work, family and art, and welcome bribes in any form that satisfies her sweet tooth</p>
  </div>
</div>
